

# Dynamically Generated platform information
Silicon/AppleSiliconPkg/Include/Resources/ReleaseInfo.h


# Local
.DS_Store
.vs
.vscode

/Build/
.DS_Store
*_extdep/
*.pyc
__pycache__/
tags/
.vscode/
*.bak
BuildConfig.conf

/Conf/
/MacStudio2022/
/macbookairmid2020/
/macbookproearly2023/
/macbookairmid2022/
/macbookprolate2021/
/macminimid2020/

Platform/MacStudio2022Pkg/DeviceTree/t6002-j375d.dtb
Silicon/Apple/AppleSiliconPkg/RAMDisk/BOOTAA64.EFI
Silicon/Apple/AppleSiliconPkg/RAMDisk/WinPE.iso
