[submodule "MU_BASECORE"]
	path = MU_BASECORE
	url = https://github.com/Microsoft/mu_basecore.git
[submodule "Common/MU"]
	path = Common/MU
	url = https://github.com/Microsoft/mu_plus.git
[submodule "Common/TIANO"]
	path = Common/TIANO
	url = https://github.com/Microsoft/mu_tiano_plus.git
[submodule "Common/MU_OEM_SAMPLE"]
	path = Common/MU_OEM_SAMPLE
	url = https://github.com/Microsoft/mu_oem_sample.git
[submodule "Silicon/ARM/TIANO"]
	path = Silicon/ARM/TIANO
	url = https://github.com/Microsoft/mu_silicon_arm_tiano.git
