

# Dynamic Generated
Platform/M1Pkg/Include/Resources/ReleaseInfo.h
Platform/M1v2Pkg/Include/Resources/ReleaseInfo.h
Platform/M2Pkg/Include/Resources/ReleaseInfo.h


# Local
.DS_Store
.vs
.vscode

/Build/
.DS_Store
*_extdep/
*.pyc
__pycache__/
tags/
.vscode/
*.bak
BuildConfig.conf

/Conf/
/m1uefi/
/m1v2uefi/
